<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="./asset/editormd/css/editormd.min.css">
  <script src="./asset/js/bootstrap.min.js"></script>
  <title>Document</title>

</head>

<body>
    <div class="container">
    {{template "header"}}
    <div id="test-editor">
        <br>
        <br>
        <p><a href="/ShowAll_students">查看所有学生名单</a></p>
        <p><a href="/ShowAll_departments">查看所有学院信息</a></p>
        <p><a href="/ShowAll_teachers">查看所有教职工名单</a></p>
        <p><a href="/post_index">查看所有课程信息</a></p>



   </div>
   </div>

</body>

</html>